body{
    background-color: #b1b3cd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    }
    
    .accordion{
      width: 90%;
      margin: 10px auto;
      background-color: #fff;
      border-radius: 1em;
    }
    
    .accordion-item{
      position: relative;
      margin-bottom: 20px;
      border-bottom:  solid #b1b3cd;
      display: block;
      min-height: 90px;
    }
    .mem-title{
      position: absolute;
      height: 100%;
      width: 90%;
      padding: 0 20px;
      z-index: 2;
    }
    
    .mem-content{
      padding: 50px 20px 20px 20px;
      height: 0;
      transition-property: height;
      transition-duration: 1s;
    }
    
    .mem-input{
     appearance: none;
    }
    
    .accordion-item span {
        width: 0.7em;
        height: 0.15em;
      background-color: #5242ff;
    }
    
    .left-span{
      position: absolute;
        top: 37px;
        right: 27px;
      rotate: 45deg;
      z-index: 1;
    }
    .right-span{
      position: absolute;
        top: 37px;
        right: 20px;
      rotate: 135deg;
      z-index: 1;
    }
    
    .mem-img{
      width: 0px;
      display: block;
      margin: 0 auto;
      transition-property: all;
      transition-duration: 1s;
    }
    
    .mem-input:checked ~ .mem-content{
      height: auto;
    }
    
    .mem-input:checked ~ .mem-content .mem-img{
      animation-name: appearance;
      animation-duration: 1s;
      animation-delay: 0s;
      width: 60%;
      height: 100%;
    }
    
    @keyframes appearance {
      0% {
        width: 0;
        height: 0;
      }
      100% {
        width: 60%;
      height: 100%;
      }
    }
    
    .mem-input:checked ~ .left-span{
      rotate: -45deg;
      transition-property: all;
      transition-duration: 1s;
    }
    .mem-input:checked ~ .right-span{
      rotate: 225deg;
      transition-property: all;
      transition-duration: 1s;
    }
    
    .mem-input:checked ~ .mem-title{
      color: #5242ff;
    }